@import "menu-header/menu-header";
@import "menu-main/menu-main";
@import 'menu-footer/menu-footer';


.menu-wrapper {
    display: none;
    width: 320px;
}

.menu-wrapper--selected {
    display: block;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(245, 245, 245, 0.966);
}

.menu {
    width: 320px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 15px 0px 20px -5px rgb(197, 197, 197);
}

@media(min-width: 1440px) {
    .menu-wrapper {
        display: block;
        background-color: none;
    }

    .menu {
        box-shadow: none;
        .close {
            display: none;
        }
    }
    
    .menu-header {
        padding-top: 35px;
    }
}

