.brands__item {
    width: 240px;
    height: 72px;
    flex-shrink: 0;
    margin-top: 0;
} 

.brands__img {
    padding-left: 16px;
}

@media (min-width: 768px) {

    .brands {
        display: grid;
        grid-template-areas: 
        "el el el"
        "el el el"
        "el el el";
        justify-items: center;
        gap: 16px 15px;

        .brands__item {
            width: 224px;
            margin-right: 0;
        }
    }  
}

@media (min-width: 1120px) {
    .brands {
        grid-template-areas: 
        "el el el el"
        "el el el el"
        "el el el el";
        gap:16px 32px ;

        .brands__item {
            width: 224px;
        }
    }
}

@media (min-width: 1120px) {
    .brands__item {
        width: 240px;
    }
}