@import "../variables";

.close {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: $purple;
    border-radius: 100%;
    margin-right: 16px;
    transition: opacity 0.2s linear;
    &:before {
        content: "";
        position: absolute;
        top: 22%;
        left: 46%;
        display: block;
        height: 22px;
        width: 2px;
        background-color: $white;
        transform: rotate(45deg);
    }
    
    &:after {
        content: "";
        position: absolute;
        top: 22%;
        left: 46%;
        display: block;
        height: 22px;
        width: 2px;
        background-color: $white;
        transform: rotate(-45deg);
    }
    
    &:hover {
        opacity: 0.6;
    }
}

.close--modalImg {
    position: absolute;
    top: 2%;
    right: 2%;
}

.close--modalForm {
    position: relative;
    margin-left: 16px;
    margin-right: auto;
    top: 2%;
    left: 2%;
}

@media (min-width : 1440px) {
    .close--modalForm {
        left: -20%;
    }
}