@import "../../variables";

.contact {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    padding-left: 24px;

    .contact__phone {
        font-size: 24px;
        color: $black;
        text-decoration: none;
        font-weight: bold;
        margin: 12px 0 8px;  
        font-family: "TTLakes-Bold";
    }

    .contact__email {
        font-size: 16px;
        color: $black;
        text-decoration: none;
    }
}






