@import 'contact';
@import 'lang';
@import "../../variables";
.menu-footer {
    .social {
        display: flex;
    }
    .social button{
        width: 40px;
        height: 40px;
        margin-right: 16px
    }
}

.menu-footer-margin {
    margin-top: 10%;
}



@media (min-width: 768px) {
    .menu-footer-margin {
        margin-top: 20%;
    }
}

@media (min-width: 1120px) {
    .menu-footer-margin {
        margin-top: 50%;
    }
}