@import "colors";

.burger {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: $purple;
    border-radius: 100%;
    transition: opacity .1s linear;
    //background-image: url("../img");

    &:hover {
        opacity: 0.7;
    }

    span {
        position: absolute;
        width: 10px;
        height: 2px;
        background-color: $white;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
    }

    &:before {
        content: "";
        width: 18px;
        height: 2px;
        background-color: $white;

        position: absolute;
        left: 10px;
        top: 30%;

    }

    &:after {
        content: "";
        width: 14px;
        height: 2px;
        background-color: $white;

        position: absolute;
        left: 10px;
        top: 65%;
    }
}
