@import "colors";



.swiper-wrapper {
  padding-left: 0;
}

.slider-price {

  &__item {
    background: $white;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 200px;
    padding: 16px 16px 16px 16px;
    gap: 10px;
    position: relative;
  }

  &__text {
    position: relative;
    padding-top: 4px;

    &:nth-child(1) {
    }

    &:nth-child(2) {

    }

    &:nth-child(3) {
      margin-bottom: 0;
    }

    &:nth-child(1)::before {
      content: 'Ремонтные услуги';
      position: absolute;
      top: -15px;
      color: $dark-gray;
    }

    &:nth-child(2)::before {
      content: 'Цена';
      position: absolute;
      top: -15px;
      color: $dark-gray;
    }

    &:nth-child(3)::before {
      content: 'Срок';
      position: absolute;
      top: -15px;
      color: $dark-gray;
    }
  }

  &__button {
    position: absolute;
    align-self: flex-end;
    bottom: 0;
    margin-bottom: 16px;
    margin-left: 16px;


  }
}

@media (min-width: 768px) {

  .slider-price.swiper {
    height: auto;
  }

  .slider-price {

    &__wrapper {
      display: flex;
      flex-direction: column;
    }

    &__item {
      max-height: 80px;
      display: grid;
      grid-template-columns: 4fr 1fr 1fr 1fr;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 14px;
        margin: auto;
        display: block;
        width: 96%;
        height: 1px;
        background-color: #EAEAEA;
      }
    }

    &__text {

      &::before {
        display: none;
      }
    }
  }

  .price-article {
    color: $dark-gray;
    display: grid;
    grid-template-columns: 4fr 1.2fr 1.2fr 1fr;

    &__col {

    }
  }
}

@media (min-width: 320px) and (max-width: 767px){
  .price-article {
    display: none;
  }

  .slider-price {

    &__item {
      min-width: 260px;
    }
  }
}
